li {
	list-style: none;
}
body {
	font-family: "Roboto", sans-serif;
}

.wrapper {
	max-width: 1200px;
	margin : 0 auto;
}
.header {
	padding-top: 50px;
}

.logo {
	margin-right: 200px;
}

.navigation {
	padding-top: 25px;
	margin-right: 240px;
}

.nav--inner {
	display: flex;
	width: 437px;
	justify-content: space-between;
	margin-right: 40px;
}

.nav-link {
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 16px;
}

.nav-link:hover{
	color: #FB565A;
	transition: 0.3s;
}

.basket {
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 16px;
	transition: 0.3s;
}
.basket:hover {
	color: #FB565A;
}

.nav-basket:hover{
	color: #FB565A;
	transition: 0.3s;
}


.header--inner {
	display: flex;

}

.cart-icon {
	width: 30px;
	height: 30px;
	padding-top:32px;
	margin-right: 12px;
}

.basket {
	padding-top:32px;
}

/*main*/

.intro--header {
	display: flex;
}

.intro--title {
	font-weight: 500;
	font-size: 55px;
	max-width: 500px;
	margin-bottom: 25px;
}

.intro--subtitle {
	font-weight: 400;
	font-size: 16px;
	max-width: 400px;
	margin-bottom: 38px;
}

.more--info {
	width: 240px;
	height: 50px;
	border: none;
	border-radius: 6px;
	background-color: #FB565A;
	font-weight: 400;
	font-size: 16px;
	color: white;
	text-transform: uppercase;
	transition: 0.3s;
}
.more--info:hover {
	background-color: #E74246;
}

.more--info:active {
	background-color: #D7373B;
}

/*services*/

.order {
	padding-top: 100px;
	margin-bottom: 150px;		
}

.order-inner {
	display: flex;
	justify-content: space-between;
}

.card--subtitle {
	max-width: 260px
}

.card--button {
	width: 160px;
	height: 50px;
	border: none;
	border-radius: 4px;
	background-color: #FB565A;
	color: #fff;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 16px;
	transition: 0.3s ease;
}

.card--button:active {
	transform: scale(0.98);
}

.web:hover {
	background-color: #E74246;
}
.web:active {
	background-color: #D7373B; 
}
.app {
	background-color: #00CA74;
}

.app:active {
	background-color: #00AA62;
}

.prez {
	background-color: #EFC849; 
}

.prez:hover {
	background-color: #EAB534;
}

.prez:active {
	background-color: #E5A722;
}


/*catalog*/
.cards--list {
	display: grid;
	grid-template-columns: repeat(2, 360px);
	gap: 40px; 
}

.card {
	width: 360px;
	height: 618px;
}

.card--inner {
	height: 618px;
	background-image: url(img/ggg.jpg);
}
.card--header {
	background-color: #4D4D4D;
	height: 40px;
}

.button-inner {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: none;
}
